atomicwrites==1.4.0
attrs==20.3.0
backports.functools-lru-cache==1.6.3
colorama==0.4.4
configparser==4.0.2
contextlib2==0.6.0.post1
enum34==1.1.10
funcsigs==1.0.2
glob2==0.7
importlib-metadata==2.1.1
Mako==1.1.4
MarkupSafe==1.1.1
more-itertools==5.0.0
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pathlib2==2.3.5
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==4.6.11
pytest-bdd==4.0.2
pytest-html==1.22.1
pytest-metadata==1.11.0
scandir==1.10.0
selenium==3.141.0
six==1.15.0
urllib3==1.26.4
wcwidth==0.2.5
zipp==1.2.0